<h1> this is working! </h1>
<%= @users.each do |this| %>
<h1> <%= puts this %> </h1>
<%end%>
<%= @cats.each do |this| %>
<h1> <%= puts this %> </h1>
<%end%>
<%= @todos.each do |this| %>
<h1> <%= puts this %> </h1>
<%end%>